<div class="row">
  <div>
    <h3>{{ title }}</h3>
  </div>
  <div>
    <button class="btn btn-sm btn-primary" style="margin-left: 15px;" modal-trigger="newCustomer">Add new</button>
  </div>
</div>

<div class="row" style="margin-bottom: 25px;">
  Filtering here...
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let customer of customers; let i = index"
      >
        <th scope="row">{{ i+1 }}</th>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.country }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal window for new order -->
<app-modal-window title="New Customer" elementId="newCustomer">
  <div class="list-group">
    <app-new-customer></app-new-customer>
  </div>
</app-modal-window>