<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky" *ngIf="isLogged">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" 
          [routerLink]="['/calendar']" routerLinkActive="active"
        >
          <i class="fa fa-calendar" aria-hidden="true"></i>
          My Appointments
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/products']"
          routerLinkActive="active"
        >
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/customers']" routerLinkActive="active"
        >
          <i class="fa fa-user-o" aria-hidden="true"></i>
          Customers
        </a>
      </li>
    </ul>
  </div>
</nav>